body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightyellow;
}

a {
  color: #00B7FF;
}

*{
  font-family: cursive;
}

h1{
  text-align: center;
  color: forestgreen;
  padding-top: 90px;
}

h2{
  color: forestgreen;
}

h3{
  text-align: left;
  color: forestgreen;
  text-decoration: underline;
}

nav a{
  font-size: 1.3em;
}

nav li{
  padding-right: 10px;
}

.content{
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 10px;
  padding-bottom: 10px;

}

p{
  font-size: large;
  text-align: justify-all;
}

table{
  table-layout: fixed;
  width: 100%;
}

h4{
  text-align: center;
}

table th{
  font-size: larger;
}

table th,td{
  text-align: center;
  border: 2px dashed forestgreen;
}

.titleBlock{
  border-style: dotted solid;
  border-width: 5px;
  border-color: #228d22;
  height: 67px;
  width: 400px;
  margin: auto;
  background-color: #eeee00;
}

.comboBlock{
  border-style: dashed;
  border-width: 2px;
  border-color: #228d22;
  margin: auto;
}

.divider{
  border: 4px solid forestgreen;
  border-radius: 2px;
  margin-right: 10px;
}

.basich1{
  padding-top: 0;
}

.combo{
  text-align: center;
  font-size: 25px;
}

form label{
  font-size: xx-large;
  color: forestgreen;
}

.formHead{
  font-size: medium;
}

div[class="form-check"]{
  margin: 35px
}

